/*==================================
--- Common ---
===================================*/
body,html {
  background: linear-gradient(
    to bottom,
    rgba(0,110,46,1) 0%,
    rgba(0,110,46,1) 100%);
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
  max-width: 1000px;
}

.container {
/*
  background: linear-gradient(
    to bottom,
    rgba(0,110,46,1) 0%,
    rgba(0,110,46,1) 100%);
*/
  margin: 0 auto;
/*  padding: 20px;*/
  width: 100%;
  height: 100%;
}

/*==================================
--- Index ---
===================================*/
.title {
  color: #111;
  font-size: 10em;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  text-shadow: 0 0 10px #fff,0 0 15px #fff;
  animation: textlight 5s linear 0s 5;
}

@keyframes textlight {
  0% {
    text-shadow: 0 0 10px #fff,0 0 15px #fff;
  }
  20% {
    text-shadow: 0 0 20px #ea6077,0 0 15px #ea6077;
  }
  40% {
    text-shadow: 0 0 10px #ccff60,0 0 15px #ccff60;
  }
  60% {
    text-shadow: 0 0 20px #6060ea,0 0 15px #6060ea;
  }
  80% {
    text-shadow: 0 0 10px #ee50ff,0 0 15px #ee50ff;
  }
  100% {
    text-shadow: 0 0 10px #fff,0 0 15px #fff;
  }
}

.start {
  text-align: center;
  font-size: 4rem;
}

.start a {
  background: linear-gradient(
    to bottom,
    rgba(169,3,41,1) 0%,
    rgba(143,2,34,1) 44%,
    rgba(109,0,25,1) 100%);
  border-radius: 6px;
  color: #909010;
  display: block;
  font-weight: bold;
  width: 400px;
  margin: 0 auto;
  padding: 5px 30px;
  text-decoration: none;
  transition: all 100ms 0s linear;
}

.start a:hover {
  box-shadow: 0 0 10px #ff7075, 0 0 20px #ff7075;
  text-shadow: 2px 1px 3px #444;
  font-size: 4.1rem;
  transform: scale(1.1);
}

.betClick {
  border: 1px solid #ccc;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.betClick:hover {
  box-shadow: 2px 2px 4px #888;
}

.bet {
  z-index: 0;
  background: #52c234;
  background: linear-gradient(to right, #52c234, #061700);
  border: 2px solid #006e2e;
  box-shadow: 1px 1px 4px #aaa;
  margin: 0 auto;
  width: 500px;
  height: 0;
}

input[type="range"] {
  
}

/*==================================
--- GameSide ---
===================================*/
.handWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.handWrapperSplit {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}
.handSplit {
  border: 2px solid #aaa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 380px;
  margin-right: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.splitValue {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
}
.hand {
  position: relative;
/*  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);*/
  background: linear-gradient(
    to bottom,
    rgba(242,245,246,1) 0%,
    rgba(227,234,237,1) 37%,
    rgba(200,215,220,1) 100%);
  border-radius: 2px;
  box-shadow: 2px 2px 2px #333;
  border: 1px solid #333;
  margin-right: 10px;
  margin-top: 10px;
  height: 180px;
  width: 100px;
}
.opphand {
  position: relative;
  background: url(img/trump.png);
  border-radius: 2px;
  box-shadow: 2px 2px 2px #333;
  border: 1px solid #333;
  margin-right: 10px;
  margin-top: 10px;
  height: 180px;
  width: 100px;
}
.resulthand {
  position: relative;
  background: linear-gradient(to bottom,
    rgba(242,245,246,1) 0%,
    rgba(227,234,237,1) 37%,
    rgba(200,215,220,1) 100%);
  border-radius: 2px;
  box-shadow: 2px 2px 2px #333;
  border: 1px solid #333;
  margin-right: 10px;
  margin-top: 10px;
  height: 180px;
  width: 100px;
  animation: result 3s linear 0s 1;
}
@keyframes result {
  0% {
    background: url(img/trump.png);
  }
  10% {
    top: -100px;
  }
  20% {
    top: -200px;
  }
  30% {
    top: -300px;
  }
  50% {
    top: -200px;
  }
  70% {
    background: linear-gradient(
      to bottom,
      rgba(242,245,246,1) 0%,
      rgba(227,234,237,1) 37%,
      rgba(200,215,220,1) 100%);

    top: -100px;
  }
  100% {
    top: 0px;
  }
}
.suit {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 26px;
}
.handValue {
  color: #333;
  font-size: 50px;
  margin: 60px 0;
  text-align: center;
}
.handValueRe{
  color: #333;
  font-size: 50px;
  margin: 60px 0;
  text-align: center;
  animation: resultValue 2.5s linear 0s 1;
}
.suitRe {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 26px;
  animation: resultValue 2.5s linear 0s 1;
}
@keyframes resultValue {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/*=======================
btn,result
=======================*/
.btn {
  margin-top: 15px;
  margin-left: 12px;
  text-align: center;
}
.btnwrap {
  display: flex;
  justify-content: center;
}
.btn a {
  background: linear-gradient(
    to bottom,
    rgba(239,197,202,1) 0%,
    rgba(210,75,90,1) 50%,
    rgba(186,39,55,1) 51%,
    rgba(241,142,153,1) 100%);
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin: 0 auto;
  padding-top: 10px;
  text-decoration: none;
  width: 150px;
  transition: all 200ms linear;
}
.btn a:hover {
  background: linear-gradient(
    to bottom,
    rgba(239,215,210,0.9) 0%,
    rgba(210,85,98,0.9) 50%,
    rgba(186,50,65,0.9) 51%,
    rgba(241,150,163,0.9) 100%);
  box-shadow: 2px 2px 5px #555;
  color: #000;
  transform: scale(1.1);
}

.total {
  color: #fff;
  text-align: center;
}
.result{
  text-align: center;
}
.blackjack {
  background: #333;
  border-radius: 4px;
  color: #f45;
  margin: 10px auto;
  text-align: center;
  width: 300px;
  animation: blackjack 3s linear 0s 1;
}
.win {
  background: #333;
  border-radius: 4px;
  color: #cc6088;
  margin: 10px auto;
  text-align: center;
  width: 300px;
}
.oblackjack {
  background: #333;
  border-radius: 4px;
  color: #4ff;
  margin: 10px auto;
  text-align: center;
  width: 300px;
  animation: blackjack 3s linear 0s 1;
}
.burst {
  background: #888;
  border-radius: 4px;
  color: #802;
  margin: 10px auto;
  text-align: center;
  width: 300px;
}
.oburst {
  background: #333;
  border-radius: 4px;
  color: #aacc60;
  margin: 10px auto;
  text-align: center;
  width: 300px;
}


@keyframes blackjack {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg);
  }
  50% {
    transform: scale(2);
    box-shadow: 2px 2px 4px #555;
  }
}


/*=======================
suit
=======================*/

.heart,
.diamond {
  color: #f33;
}