
p {
  margin: 0;
  padding: 0;
}
hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
  max-width: 1000px;
}

.container {
  background: linear-gradient(
    to bottom,
    rgba(0,110,46,1) 0%,
    rgba(0,110,46,1) 100%);
  margin: 0 auto;
/*  padding: 20px;*/
  width: 100%;
  height: 100%;
}

.handWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.hand {
  position: relative;
/*  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);*/
  background: linear-gradient(
    to bottom,
    rgba(242,245,246,1) 0%,
    rgba(227,234,237,1) 37%,
    rgba(200,215,220,1) 100%);
  border-radius: 2px;
  box-shadow: 2px 2px 2px #333;
  border: 1px solid #333;
  margin-right: 10px;
  margin-top: 10px;
  height: 200px;
  width: 120px;
}
.opphand {
  position: relative;
  background: url(img/trump.png);
  border-radius: 2px;
  box-shadow: 2px 2px 2px #333;
  border: 1px solid #333;
  margin-right: 10px;
  margin-top: 10px;
  height: 200px;
  width: 120px;
}
.resulthand {
  position: relative;
  background: linear-gradient(to bottom,
    rgba(242,245,246,1) 0%,
    rgba(227,234,237,1) 37%,
    rgba(200,215,220,1) 100%);
  border-radius: 2px;
  box-shadow: 2px 2px 2px #333;
  border: 1px solid #333;
  margin-right: 10px;
  margin-top: 10px;
  height: 200px;
  width: 120px;
  animation: result 3s linear 0s 1;
}
@keyframes result {
  0% {
    background: url(img/trump.png);
  }
  10% {
    top: -100px;
  }
  20% {
    top: -200px;
  }
  30% {
    top: -300px;
  }
  50% {
    top: -200px;
  }
  70% {
    background: linear-gradient(
      to bottom,
      rgba(242,245,246,1) 0%,
      rgba(227,234,237,1) 37%,
      rgba(200,215,220,1) 100%);

    top: -100px;
  }
  100% {
    top: 0px;
  }
}
.suit {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 26px;
}
.handValue {
  color: #333;
  font-size: 50px;
  margin: 70px 0;
  text-align: center;
}
.handValueRe{
  color: #333;
  font-size: 50px;
  margin: 70px 0;
  text-align: center;
  animation: resultValue 2.5s linear 0s 1;
}
@keyframes resultValue {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/*=======================
btn,result
=======================*/
.btn {
  margin-top: 15px;
  margin-left: 12px;
  text-align: center;
}
.btnwrap {
  display: flex;
  justify-content: center;
}
.btn a {
  background: linear-gradient(
    to bottom,
    rgba(239,197,202,1) 0%,
    rgba(210,75,90,1) 50%,
    rgba(186,39,55,1) 51%,
    rgba(241,142,153,1) 100%);
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin: 0 auto;
  padding-top: 10px;
  text-decoration: none;
  width: 150px;
  transition: all 200ms linear;
}
.btn a:hover {
  background: linear-gradient(
    to bottom,
    rgba(239,215,210,0.9) 0%,
    rgba(210,85,98,0.9) 50%,
    rgba(186,50,65,0.9) 51%,
    rgba(241,150,163,0.9) 100%);
  box-shadow: 2px 2px 5px #555;
  color: #000;
  transform: scale(1.1);
}

.total {
  color: #fff;
  text-align: center;
}
.result{
  text-align: center;
}
.blackjack {
  background: #333;
  border-radius: 4px;
  color: #f45;
  margin: 10px auto;
  text-align: center;
  width: 300px;
  animation: blackjack 3s linear 0s 1;
}
.oblackjack {
  background: #333;
  border-radius: 4px;
  color: #4ff;
  margin: 10px auto;
  text-align: center;
  width: 300px;
  animation: blackjack 3s linear 0s 1;
}
.burst {
  background: #888;
  border-radius: 4px;
  color: #802;
  margin: 10px auto;
  text-align: center;
  width: 300px;
}
.oburst {
  background: #333;
  border-radius: 4px;
  color: #aacc60;
  margin: 10px auto;
  text-align: center;
  width: 300px;
}


@keyframes blackjack {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg);
  }
  50% {
    transform: scale(2);
    box-shadow: 2px 2px 4px #555;
  }
}


/*=======================
suit
=======================*/

.heart,
.diamond {
  color: #f33;
}